.logo_button{
    background-color: white;
    color: black;
    border: none;
    border-radius: 0px;
}
.logo_button:hover{
    background-color: rgb(230, 177, 177);
    color: black;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: black;
}
.slide_img{
    height: 650px;
}
/* .carousell{
    height: 10px;
} */
.accordion-button:focus{
    box-shadow: none !important;
}
.accordion-button,.accordion-body{
    background-color: #f8f5f0 !important;
}
.accordion-body{
    border-bottom: 1px solid gray;
}
/* phone */
/* Accordian color */
.accordion-button:not(.collapsed){
    background-color: gray !important;
    color: white;
    font-weight: bold;
}
/* .head */

.trans_butn{
    width: 100%;
    margin: 0;
    background-color: white;
    border: none;
}
.btn_div{
    padding: 0;
}

/* Places */
.right img{
    width: 100% !important;
}
.left{
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    background-color: #f8f5f0;
}
.places_btn{
    background-color: black !important;
    color: white !important;
    border: 1px solid black !important;
    padding: 10px 15px !important;
}
.places_btn:hover{
    background-color: #f8f5f0 !important;
    color: black !important;
    border: 1px solid black !important;
}
.row>*{
    padding: 0 !important;
}

/* about */
.head{
  font-family: 'Gilda Display', serif;
  font-size: 50px;
  font-weight: 100;
  color: black !important;
}
.heading{
    color: black !important;
    font-family: 'Gilda Display', serif;
}
.subhead{
    color: black !important;
}
.about p{
  color: gray;
  /* text-align: justify;
  text-justify: inter-word;
   */
   padding-right: 60px !important;
}
/* .about{
  padding-top: 100px !important;
} */
.phone{
    color: gray !important;
    font-size: 50px;
}
#img1{
    margin-top: 50px;
}
#about_img1,#about_img2{
    border: 1px solid gray;
    width: 300px;
    height: 400px;
}
#about_img1 img,#about_img2 img{
    position: relative;
    left: 10%;
}
#about_img2 img{
    bottom: 5%;
}
#about_img1 img{
    top: -5%;
}
.main_container{
    background-color: #f8f5f0;
}

/* Card */
.flip-card {
  background-color: transparent;
  width: 80%;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  border-radius: 5%;
}

.flip-card-front p{
    letter-spacing: 2px;
}

.flip-card img{
    height: 90%;
    width: 100%;
    border-radius: 5%;
}


/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: white;
  color: black;
  border-radius: 5%;
  border: 1px solid black;
}

/* Style the back side */
.flip-card-back {
  background-color: white;
  color: white;
  transform: rotateY(180deg);
  border-radius: 5%;
}


/* Restaurant */
#menu{
    background-image:  linear-gradient(45deg,rgba(0, 0, 0, 0.534),rgba(0, 0, 0, 0.534)),url(../images/food1.jpg);
    padding-top: 14%;
    padding-bottom: 14%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-bottom: 5px solid black;
}
#table{
    padding-top: 15%;
    padding-bottom: 13%;
    background-color: #f8f5f0;
}
.form .input{
    border: none;
    width: 100% !important;
}
@media (min-width: 320px){
    .form .smm{
        width: 100% !important;
    }
}
@media (min-width: 576px){
    .form .smm{
        width: 100% !important;
    }
}
@media (min-width: 768px){
    .form .smm{
        width: 100% !important;
    }
}
@media (min-width: 992px){
    .form .smm{
        width: 99% !important;
    }
}
@media (min-width: 1200px){
    .form .smm{
        width: 99% !important;
    }
}
@media (min-width: 1400px){
    .form .smm{
        width: 99% !important;
    }
}
.form .sub{
    background-color: brown;
    color: white;
}
::placeholder{
    color: black;
}
#table .tablee, #pick-up .pick-upp, #home-delivery .home-deliveryy{
    padding-left: 20% !important;
    padding-right: 20% !important;
}

#pick-up{
    /* background-image:  linear-gradient(45deg,rgba(0, 0, 0, 0.534),rgba(0, 0, 0, 0.534)),url(../images/food2.jpg); */
    padding-top: 12%;
    padding-bottom: 12%;
    background-color: #f8f5f0;
}

#home-delivery{
    /* background-image:  linear-gradient(45deg,rgba(0, 0, 0, 0.534),rgba(0, 0, 0, 0.534)),url(../images/food\ 3.jpg); */
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #f8f5f0;
}
input{
    width: 100%;
}


.map-responsive{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
.map-responsive iframe{
    left: 0;
    top: 0;
    border: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.amenitiess p{
    margin-bottom: 5px !important;
}
.box{
    border: 1px solid black;
    height: 100%;
    width: 99%;
    padding-left: 5%;
    border-radius: 2%;
}
.hotel_infoo{
    background-color: #f8f5f0;
}



/* .rooms{
    background-image: url("https://r2imghtlak.mmtcdn.com/r2-mmt-htl-image/room-imgs/201702231617337627-201374-d2c9d7145ca611eb92480242ac110006.jpg");
    padding: 100%;
    background-size: 100px;
    background-repeat: no-repeat;
} */
/* .accordion-button:focus */
.stay img{
    width: 98%;
}
.Link{
    text-decoration: none;
    margin-right: 10%;
    color: white;
}
.footer{
    font-family: 'Gilda Display', serif;
}
.footer_li{
    float: left;
    list-style: none;
    /* margin-right: 15px; */
}
.hotel_infoo .btn{
    border-radius: 0px !important;
}
.hotel_infoo h3,.hotel_infoo .heading{
    color: rgb(158, 105, 61, 1) !important;
}

/* Slidshow
#slidshow_img1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.300),rgba(0, 0, 0, 0.500)),url("https://r2imghtlak.mmtcdn.com/r2-mmt-htl-image/htl-imgs/201702231617337627-e41381f85ca811eb9ec20242ac110003.jpg");
    padding: 23%;
    background-size: 100% 100%;
}
#slidshow_img2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.300),rgba(0, 0, 0, 0.500)),url("https://r1imghtlak.mmtcdn.com/bd719a42da7b11e7ae8e0224510f5e5b.jpeg");
    padding: 23%;
    background-size: 100% 100%;
}
#slidshow_img3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.300),rgba(0, 0, 0, 0.500)),url("https://img.easemytrip.com/emthotel-1135852/32/rm/lg/32068709_11.jpg");
    padding: 23%;
    background-size: 100% 100%;
}
.slide_heading{
    font-family: "Playfair Display", serif;
}
.slide_write{
    padding-bottom: 17%;
    letter-spacing: 2px;
}
.carousel-control-prev,.carousel-control-next{
    display: none;
}
.carousel-indicators{
    margin-left: 80% !important;
    margin-bottom: 25% !important;
    left: 10% !important;
    margin-right: 0 !important;
}
.carousel-item{
    transition: none !important;
}
.active.carousel-active-start{
    transform: translateX(-180deg) !important;
}
.carousel-indicators button{
    background-color: white !important;
    width: 20px !important;
    opacity: 1 !important;
}
.carousel-indicators .active{
    width: 80px !important;
}
/* .carousell .icn{
slide
} */
@keyframes example {
    0%   {color: rgba(255, 255, 255, 0.05); }
    35%  {color: rgba(255, 255, 255, 1);}
    50%  {color: rgba(255, 255, 255, 1);}
    100% {color: rgba(255, 255, 255, 0.05);}
}
    .slide_write h1,.slide_write h5{
        animation-name: example;
        animation-duration: 6s;
    }
    .slide_write h5{
        font-weight: 400;
    }
    @keyframes example1 {
        0%   {top: 60%;}
        35%  {top: 35%;}
        50%  {top: 35%;}
        100% {top: 60%;}
    }
    .slide_write{
        animation-name: example1;
        animation-duration: 6s;
        position: absolute;
} * /
/* iframe */
.location_transport iframe{
    height: 100%;
    width: 100%;
}
.location_transport button{
    width: 100%;
    border: none;
}
.location_transport{
    font-family: 'Gilda Display', serif;
}
#stations{
    display: none;
}
#btn1{
    border-bottom: 5px solid gray;
}
.nearby,.stations{
    border-bottom: 2px solid black;
}
.nearby p, .stations p{
    font-size: 20px;
}
.nearby span,.stations span{
    float: right;
}
.map{
    height: 100%;
}
.location_transport button{
    background-color: #f8f5f0;
}

.mapp iframe{
    width:100%;
}

.main_img img{
    height: 100%;
    width: 97%;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}
.sub_img img{
    height: 98%;
    width: 98%;
}
.top img{
    border-top-right-radius: 10%;
}
.bottom img{
    border-bottom-right-radius: 10%;
}
#entrance,#garden,#hall1,#hall2,#restaurant,#bar{
    display: none;
}
.gallery .btn{
    border-radius: 0px;
    background-color: #f8f5f0;
    border: none;
    letter-spacing: 1px;
}
.gallery .btn:hover{
    background-color: #f8f5f0;
    color: black;
}
#btn11{
    border: 1px solid black;
}

/* restaurant */
.restaurant .link{
    background-color: black;
}
.link{
    text-decoration: none;
    border: 1px solid black;
}
.link:hover{
    background-color: #f8f5f0 !important;
    color: black !important;
}

.bar img{
    height: 50% !important;
}

.carousel-indicators{
    display: none;
}

p{
    text-align: justify;
}

.menu_add{
    text-decoration: none;
}

@media (min-width: 320px){
    /* Slidshow */
    #slidshow_img1{
        background-image: linear-gradient(rgba(0, 0, 0, 0.300),rgba(0, 0, 0, 0.500)),url("https://r2imghtlak.mmtcdn.com/r2-mmt-htl-image/htl-imgs/201702231617337627-e41381f85ca811eb9ec20242ac110003.jpg");
        padding: 23%;
        background-size: 100% 100%;
    }
    #slidshow_img2{
        background-image: linear-gradient(rgba(0, 0, 0, 0.300),rgba(0, 0, 0, 0.500)),url("https://r1imghtlak.mmtcdn.com/bd719a42da7b11e7ae8e0224510f5e5b.jpeg");
        padding: 23%;
        background-size: 100% 100%;
    }
    #slidshow_img3{
        background-image: linear-gradient(rgba(0, 0, 0, 0.300),rgba(0, 0, 0, 0.500)),url("https://img.easemytrip.com/emthotel-1135852/32/rm/lg/32068709_11.jpg");
        padding: 23%;
        background-size: 100% 100%;
    }
    .slide_heading{
        font-family: "Playfair Display", serif;
    }
    .slide_write{
        padding-bottom: 17%;
        letter-spacing: 2px;
    }
    .slide_write h1{
        font-size: 20px;
    }
    .slide_write h5{
        font-size: 10px;
    }
    .slide_show .icn{
        margin-top: 1px !important;
    }
    .carousel-control-prev,.carousel-control-next{
        display: none;
    }
    .carousel-indicators{
        margin-left: 80% !important;
        margin-bottom: 25% !important;
        left: 10% !important;
        margin-right: 0 !important;
    }
    .carousel-item{
        transition: none !important;    
    }
    .active.carousel-active-start{
        transform: translateX(-180deg) !important;
    }
    .carousel-indicators button{
        background-color: white !important;
        width: 20px !important;
        opacity: 1 !important;
    }
    .carousel-indicators .active{
        width: 80px !important;
    }
    @keyframes example {
        0%   {color: rgba(255, 255, 255, 0.05); }
        35%  {color: rgba(255, 255, 255, 1);}
        50%  {color: rgba(255, 255, 255, 1);}
        100% {color: rgba(255, 255, 255, 0.05);}
    }
    .slide_write h1,.slide_write h5{
        animation-name: example;
        animation-duration: 6s;
    }
    .slide_write h5{
        font-weight: 400;
    }
    @keyframes example1 {
        0%   {top: 40%;}
        35%  {top: 15%;}
        50%  {top: 15%;}
        100% {top: 40%;}
    }
    .slide_write{
        animation-name: example1;
        animation-duration: 6s;
        position: absolute;
    }
}
@media (min-width: 576px) {
    /* Slidshow */
#slidshow_img1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.300),rgba(0, 0, 0, 0.500)),url("https://r2imghtlak.mmtcdn.com/r2-mmt-htl-image/htl-imgs/201702231617337627-e41381f85ca811eb9ec20242ac110003.jpg");
    padding: 23%;
    background-size: 100% 100%;
}
#slidshow_img2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.300),rgba(0, 0, 0, 0.500)),url("https://r1imghtlak.mmtcdn.com/bd719a42da7b11e7ae8e0224510f5e5b.jpeg");
    padding: 23%;
    background-size: 100% 100%;
}
#slidshow_img3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.300),rgba(0, 0, 0, 0.500)),url("https://img.easemytrip.com/emthotel-1135852/32/rm/lg/32068709_11.jpg");
    padding: 23%;
    background-size: 100% 100%;
}
.slide_write h1{
    font-size: 30px;
}
.slide_write h5{
    font-size: 20px;
}
.slide_heading{
    font-family: "Playfair Display", serif;
}
.slide_write{
    padding-bottom: 17%;
    letter-spacing: 2px;
}
.carousel-control-prev,.carousel-control-next{
    display: none;
}
.carousel-indicators{
    margin-left: 80% !important;
    margin-bottom: 25% !important;
    left: 10% !important;
    margin-right: 0 !important;
}
.carousel-item{
    transition: none !important;
}
.active.carousel-active-start{
    transform: translateX(-180deg) !important;
}
.carousel-indicators button{
    background-color: white !important;
    width: 20px !important;
    opacity: 1 !important;
}
.carousel-indicators .active{
    width: 80px !important;
}
/* .carousell .icn{
slide
} */
@keyframes example {
    0%   {color: rgba(255, 255, 255, 0.05); }
    35%  {color: rgba(255, 255, 255, 1);}
    50%  {color: rgba(255, 255, 255, 1);}
    100% {color: rgba(255, 255, 255, 0.05);}
}
    .slide_write h1,.slide_write h5{
        animation-name: example;
        animation-duration: 6s;
    }
    .slide_write h5{
        font-weight: 400;
    }
    @keyframes example1 {
        0%   {top: 60%;}
        35%  {top: 35%;}
        50%  {top: 35%;}
        100% {top: 60%;}
    }
    .slide_write{
        animation-name: example1;
        animation-duration: 6s;
        position: absolute;
    }
}
@media (min-width: 768px) { 
    /* Slidshow */
#slidshow_img1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.300),rgba(0, 0, 0, 0.500)),url("https://r2imghtlak.mmtcdn.com/r2-mmt-htl-image/htl-imgs/201702231617337627-e41381f85ca811eb9ec20242ac110003.jpg");
    padding: 23%;
    background-size: 100% 100%;
}
.slide_write h1{
    font-size: 20px;
}
.slide_write h5{
    font-size: 10px;
}
#slidshow_img2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.300),rgba(0, 0, 0, 0.500)),url("https://r1imghtlak.mmtcdn.com/bd719a42da7b11e7ae8e0224510f5e5b.jpeg");
    padding: 23%;
    background-size: 100% 100%;
}
#slidshow_img3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.300),rgba(0, 0, 0, 0.500)),url("https://img.easemytrip.com/emthotel-1135852/32/rm/lg/32068709_11.jpg");
    padding: 23%;
    background-size: 100% 100%;
}
.slide_heading{
    font-family: "Playfair Display", serif;
}
.slide_write{
    padding-bottom: 17%;
    letter-spacing: 2px;
}
.carousel-control-prev,.carousel-control-next{
    display: none;
}
.carousel-indicators{
    margin-left: 80% !important;
    margin-bottom: 25% !important;
    left: 10% !important;
    margin-right: 0 !important;
}
.carousel-item{
    transition: none !important;
}
.active.carousel-active-start{
    transform: translateX(-180deg) !important;
}
.carousel-indicators button{
    background-color: white !important;
    width: 20px !important;
    opacity: 1 !important;
}
.carousel-indicators .active{
    width: 80px !important;
}
/* .carousell .icn{
slide
} */
@keyframes example {
    0%   {color: rgba(255, 255, 255, 0.05); }
    35%  {color: rgba(255, 255, 255, 1);}
    50%  {color: rgba(255, 255, 255, 1);}
    100% {color: rgba(255, 255, 255, 0.05);}
}
    .slide_write h1,.slide_write h5{
        animation-name: example;
        animation-duration: 6s;
    }
    .slide_write h5{
        font-weight: 400;
    }
    @keyframes example1 {
        0%   {top: 60%;}
        35%  {top: 35%;}
        50%  {top: 35%;}
        100% {top: 60%;}
    }
    .slide_write{
        animation-name: example1;
        animation-duration: 6s;
        position: absolute;
    }
 }
@media (min-width: 992px) { 
    /* Slidshow */
#slidshow_img1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.300),rgba(0, 0, 0, 0.500)),url("https://r2imghtlak.mmtcdn.com/r2-mmt-htl-image/htl-imgs/201702231617337627-e41381f85ca811eb9ec20242ac110003.jpg");
    padding: 23%;
    background-size: 100% 100%;
}
#slidshow_img2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.300),rgba(0, 0, 0, 0.500)),url("https://r1imghtlak.mmtcdn.com/bd719a42da7b11e7ae8e0224510f5e5b.jpeg");
    padding: 23%;
    background-size: 100% 100%;
}
#slidshow_img3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.300),rgba(0, 0, 0, 0.500)),url("https://img.easemytrip.com/emthotel-1135852/32/rm/lg/32068709_11.jpg");
    padding: 23%;
    background-size: 100% 100%;
}
.slide_heading{
    font-family: "Playfair Display", serif;
}
.slide_write h1{
    font-size: 30px;
}
.slide_write h5{
    font-size: 20px;
}
.slide_write{
    padding-bottom: 17%;
    letter-spacing: 2px;
}
.carousel-control-prev,.carousel-control-next{
    display: none;
}
.carousel-indicators{
    margin-left: 80% !important;
    margin-bottom: 25% !important;
    left: 10% !important;
    margin-right: 0 !important;
}
.carousel-item{
    transition: none !important;
}
.active.carousel-active-start{
    transform: translateX(-180deg) !important;
}
.carousel-indicators button{
    background-color: white !important;
    width: 20px !important;
    opacity: 1 !important;
}
.carousel-indicators .active{
    width: 80px !important;
}
/* .carousell .icn{
slide
} */
@keyframes example {
    0%   {color: rgba(255, 255, 255, 0.05); }
    35%  {color: rgba(255, 255, 255, 1);}
    50%  {color: rgba(255, 255, 255, 1);}
    100% {color: rgba(255, 255, 255, 0.05);}
}
    .slide_write h1,.slide_write h5{
        animation-name: example;
        animation-duration: 6s;
    }
    .slide_write h5{
        font-weight: 400;
    }
    @keyframes example1 {
        0%   {top: 60%;}
        35%  {top: 35%;}
        50%  {top: 35%;}
        100% {top: 60%;}
    }
    .slide_write{
        animation-name: example1;
        animation-duration: 6s;
        position: absolute;
    }
 }
@media (min-width: 1200px) { 
    /* Slidshow */
#slidshow_img1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.300),rgba(0, 0, 0, 0.500)),url("https://r2imghtlak.mmtcdn.com/r2-mmt-htl-image/htl-imgs/201702231617337627-e41381f85ca811eb9ec20242ac110003.jpg");
    padding: 23%;
    background-size: 100% 100%;
}
#slidshow_img2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.300),rgba(0, 0, 0, 0.500)),url("https://r1imghtlak.mmtcdn.com/bd719a42da7b11e7ae8e0224510f5e5b.jpeg");
    padding: 23%;
    background-size: 100% 100%;
}
#slidshow_img3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.300),rgba(0, 0, 0, 0.500)),url("https://img.easemytrip.com/emthotel-1135852/32/rm/lg/32068709_11.jpg");
    padding: 23%;
    background-size: 100% 100%;
}
.slide_heading{
    font-family: "Playfair Display", serif;
}
.slide_write h1{
    font-size: 30px;
}
.slide_write h5{
    font-size: 20px;
}
.slide_write{
    padding-bottom: 17%;
    letter-spacing: 2px;
}
.carousel-control-prev,.carousel-control-next{
    display: none;
}
.carousel-indicators{
    margin-left: 80% !important;
    margin-bottom: 25% !important;
    left: 10% !important;
    margin-right: 0 !important;
}
.carousel-item{
    transition: none !important;
}
.active.carousel-active-start{
    transform: translateX(-180deg) !important;
}
.carousel-indicators button{
    background-color: white !important;
    width: 20px !important;
    opacity: 1 !important;
}
.carousel-indicators .active{
    width: 80px !important;
}
/* .carousell .icn{
slide
} */
@keyframes example {
    0%   {color: rgba(255, 255, 255, 0.05); }
    35%  {color: rgba(255, 255, 255, 1);}
    50%  {color: rgba(255, 255, 255, 1);}
    100% {color: rgba(255, 255, 255, 0.05);}
}
    .slide_write h1,.slide_write h5{
        animation-name: example;
        animation-duration: 6s;
    }
    .slide_write h5{
        font-weight: 400;
    }
    @keyframes example1 {
        0%   {top: 60%;}
        35%  {top: 35%;}
        50%  {top: 35%;}
        100% {top: 60%;}
    }
    .slide_write{
        animation-name: example1;
        animation-duration: 6s;
        position: absolute;
    }
 }
@media (min-width: 1400px) { 
    /* Slidshow */
#slidshow_img1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.300),rgba(0, 0, 0, 0.500)),url("https://r2imghtlak.mmtcdn.com/r2-mmt-htl-image/htl-imgs/201702231617337627-e41381f85ca811eb9ec20242ac110003.jpg");
    padding: 23%;
    background-size: 100% 100%;
}
#slidshow_img2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.300),rgba(0, 0, 0, 0.500)),url("https://r1imghtlak.mmtcdn.com/bd719a42da7b11e7ae8e0224510f5e5b.jpeg");
    padding: 23%;
    background-size: 100% 100%;
}
#slidshow_img3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.300),rgba(0, 0, 0, 0.500)),url("https://img.easemytrip.com/emthotel-1135852/32/rm/lg/32068709_11.jpg");
    padding: 23%;
    background-size: 100% 100%;
}
.slide_heading{
    font-family: "Playfair Display", serif;
}
.slide_write h1{
    font-size: 30px;
}
.slide_write h5{
    font-size: 20px;
}
.slide_write{
    padding-bottom: 17%;
    letter-spacing: 2px;
}
.carousel-control-prev,.carousel-control-next{
    display: none;
}
.carousel-indicators{
    margin-left: 80% !important;
    margin-bottom: 25% !important;
    left: 10% !important;
    margin-right: 0 !important;
}
.carousel-item{
    transition: none !important;
}
.active.carousel-active-start{
    transform: translateX(-180deg) !important;
}
.carousel-indicators button{
    background-color: white !important;
    width: 20px !important;
    opacity: 1 !important;
}
.carousel-indicators .active{
    width: 80px !important;
}
/* .carousell .icn{
slide
} */
@keyframes example {
    0%   {color: rgba(255, 255, 255, 0.05); }
    35%  {color: rgba(255, 255, 255, 1);}
    50%  {color: rgba(255, 255, 255, 1);}
    100% {color: rgba(255, 255, 255, 0.05);}
}
    .slide_write h1,.slide_write h5{
        animation-name: example;
        animation-duration: 6s;
    }
    .slide_write h5{
        font-weight: 400;
    }
    @keyframes example1 {
        0%   {top: 60%;}
        35%  {top: 35%;}
        50%  {top: 35%;}
        100% {top: 60%;}
    }
    .slide_write{
        animation-name: example1;
        animation-duration: 6s;
        position: absolute;
    }
 }

 .map iframe{
    width: 100%;
    height: 100%;
 }

 .gallery .btn{
    padding-left: 3%;
    padding-right: 3%;
    /* letter-spacing: 1px; */
 }

 /* @media (min-width: 320px){
    .link{
        padding: 5px;
        margin-bottom: 5px;
    }
 } */
 /* @media (min-width: 576px)
 @media (min-width: 768px)
 @media (min-width: 992px) 
 @media (min-width: 1200px)
 @media (min-width: 1400px) */

 /* Home Navbar */
 /* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  #lines{
    background-color: #f1f1f100;
    position: absolute;
    z-index: 1;
  }
  #mySidebar{
    z-index: 2;
    background-color: white;
    color: black;
    font-family: 'Gilda Display', serif;
    text-align: center;
  }
  .linkkk:hover,.closebtn:hover{
    color: brown !important;
  }
  .firstt{
    color: goldenrod !important;
  }
  .linkkk{
    padding: 0;
  }
  .stay button{
    width: 65%;
  }
  .stay img{
    width: 200px;
  }
   .ull{
    list-style-type: none;
    padding-left: 0 !important;
   }
   .ull li:before{
    content: '✓ ';
  } 
  #suites{
    display: none;
  }
/* .rightt img{
    width: 84% !important;
} */
#rooms img, #suites img{
    width: 100%;
    height: 100%;
}
/* footer_li */
/* Link */

a{
    color: white;
}
.add,.join,.add_itemm{
    background-color: antiquewhite;
}
.add #add{
    padding-top: 20%;
    padding-bottom: 10%;
}
.add #add{
    padding-top: 20%;
    padding-bottom: 10%;
}
.join #join{
    padding-top: 15%;
    padding-bottom: 10%;
}
.add_itemm #add_itemm{
    padding-top: 15%;
    padding-bottom: 10%; 
}